ul {
    margin: 0;
    padding: 0;
}

.gallery-item {
 display: block;
 width: calc((100% - 48px) / 3);
 list-style-type: none;
 overflow: hidden;

}
.gallery-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 250ms ease;
}

.gallery-item:hover .gallery-image,
.gallery-item:focus-within .gallery-image {
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 24px 56px;
}


