ul {
    margin: 0;
    padding: 0;
}

.gallery-item {
 display: block;
 width: calc ((100% - 24px) / 3);
 object-fit: cover;
 list-style-type: none;

}

.gallery-item:hover, .gallery-item:focus {
    width: 376px;
    height: 208px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 24px 56px 24px 56px;
}


